<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URLSearchArtist" value="https://musicbrainz.org/ws/2/artist?query=:{0}&amp;fmt=json&amp;score=100&amp;limit=1" />
		<add key="URLGetAlbumCount" value="https://musicbrainz.org/ws/2/release?query=arid:{0}%20AND%20country:GB%20AND%20primarytype:Album&amp;fmt=json&amp;limit=1&amp;offset=0" />
		<add key="URLGetAlbumList" value="https://musicbrainz.org/ws/2/release?query=arid:{0}%20AND%20country:GB%20AND%20primarytype:Album&amp;fmt=json&amp;limit=100&amp;offset={1}" />
		<add key="URLGetAllTrack" value="https://musicbrainz.org/ws/2/recording?query=reid:{0}%20AND%20arid:{1}&amp;fmt=json" />
		<add key="URLGetLyrics" value="https://api.lyrics.ovh/v1/{0}/{1}" />
		<add key="MediaType" value="application/vnd.github.v3+json" />
		<add key="UserAgent" value="ArtistStat/1.0.0 ( kaiwing1@outlook.com )" />
	</appSettings>
</configuration>